<div class="container-fluid vh-100 bg-light d-flex align-items-center justify-content-center">
    <div class="card shadow-sm" style="max-width: 400px;">
        <div class="card-body p-4">
            <h2 class="text-center mb-2">Welcome Back</h2>
            <p class="text-center text-muted mb-4">Login to access your account</p>

            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Login As</label>
                    <select class="form-select" [(ngModel)]="userType" name="userType">
                        <option value="Admin" selected="true">Admin</option>
                        <option value="Junior">Junior Engineer</option>
                        <option value="Assistant">Assistant Engineer</option>
                        <option value="Executive">Executive Engineer</option>
                        <option value="Operator">Operator</option>
                        <option value="Consumer">Consumer</option>
                    </select>
                </div>


                <div class="mb-3" *ngIf="userType === 'Operator'">
                    <label for="username" class="form-label">Select Division</label>
                    <select class="form-select" [(ngModel)]="operatorDivision" name="operatorDivision">
                        <option value="PAN" selected>Punjab</option>
                        <option value="CHD">Chandigarh</option>
                        <option value="HP">Himachal Paradesh</option>
                        <option value="JK">Jammu & Kashmir</option>
                        <option value="DL">Delhi</option>

                    </select>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username"
                        required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control password-control" id="password"
                            [(ngModel)]="password" name="password" required>
                        <button
                            class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y border-0"
                            type="button" (click)="togglePasswordVisibility()">
                            <i class="bi bi-eye-fill"></i>
                        </button>

                    </div>

                </div>

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember" [(ngModel)]="rememberMe"
                            name="remember">
                        <label class="form-check-label" for="remember">Remember me</label>
                    </div>
                    <a href="#" class="text-decoration-none text-muted">Forgot password?</a>
                </div>

                <button type="submit" class="btn btn-dark w-100 mb-3">Login</button>
                <button type="button" class="btn btn-dark w-100 mb-3" (click)="resetForm()"
                data-bs-toggle="modal" data-bs-target="#newConnectionModal">Apply for New Connection</button>


                <div class="text-center">
                    <span class="text-muted">First time user? </span>
                    <a href="#" class="text-decoration-none text-dark">Register here</a>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="divisionModal" tabindex="-1" aria-labelledby="divisionModalLabel" aria-hidden="true"
    [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog modal-content-custom">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="divisionModalLabel">Select Division</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <label for="division" class="form-label">Division</label>
                <select id="division" class="form-select">
                    <option value="Division1">Division 1</option>
                    <option value="Division2">Division 2</option>
                    <option value="Division3">Division 3</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary">Done</button>
            </div>
        </div>
    </div>
</div>


   
<!-- New Consumer Modal -->
<div class="modal fade" id="newConnectionModalasdasd" tabindex="-1" aria-labelledby="newConnectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newConnectionModalLabel">{{ connectionModalHeader }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <h6 class="Headings mb-4 mt-0">Form Details [ {{todayDate}} ]</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Div</label>
                                <select class="form-select border-focus" [(ngModel)]="newconnection.div" name="div" required>
                                    <option value="" disabled>Select a Division</option>
                                    <option value="Division 1">Division 1</option>
                                    <option value="Division 2">Division 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Collection Center</label>
                                <select class="form-select border-focus" [(ngModel)]="newconnection.collectionCenter" name="collectionCenter" required>
                                    <option value="" disabled>Select a Collection Center</option>
                                    <option value="Center 1">Center 1</option>
                                    <option value="Center 2">Center 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Mode</label>
                                <select class="form-select border-focus" [(ngModel)]="newconnection.mode" name="mode" required>
                                    <option value="" disabled>Select a Mode</option>
                                    <option value="Online">Online</option>
                                    <option value="Offline">Offline</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Source</label>
                                <select class="form-select border-focus" [(ngModel)]="newconnection.source" name="source" required>
                                    <option value="" disabled>Select a Source</option>
                                    <option value="Website">Website</option>
                                    <option value="Referral">Referral</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Temporary Form No.</label>
                                <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.temporaryFormNo" name="temporaryFormNo" required />
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="mb-3">
                                <label>Purchase Date</label>
                                <input type="date" class="form-control border-focus" [(ngModel)]="newconnection.purchaseDate" name="purchaseDate" required />
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Permanent Form No.</label>
                                <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.permanentFormNo" name="permanentFormNo" required />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Submission Date</label>
                                <input type="date" class="form-control border-focus" [(ngModel)]="newconnection.submissionDate" name="submissionDate" required />
                            </div>
                        </div>
                    </div>

                    <h6 class="Headings mb-4 mt-0">Type of Connection</h6>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Type of Connection</label>

                                <select class="form-select border-focus" [(ngModel)]="newconnection.type" name="type" required>
                                    <option value="" disabled>Select a Connection Type</option>
                                    <option value="Water">Water</option>
                                    <option value="Sewer">Sewer</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-0">
                            <div class="mb-3">
                                <label>Applicant is Already Consumer?</label>
                                <select class="form-select border-focus" [(ngModel)]="newconnection.isAlreadyConsumer" name="isAlreadyConsumer" required>
                                    <option value="" disabled>Select Option</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <h6 class="Headings mb-4">Applicant's Details</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>First Name</label>
                                <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.firstName" name="firstName" required />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Last Name</label>
                                <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.lastName" name="lastName" required />
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Father's/Husband's Name</label>
                                <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.fatherHusbandName" name="fatherHusbandName" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Occupation</label>
                                <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.occupation" name="occupation" required />
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Present Address</label>
                                <textarea class="form-control border-focus" name="presentAddress" id="presentAddress" cols="30" rows="4" [(ngModel)]="newconnection.presentAddress"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Phone No</label>
                                <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.phoneNumber" name="phoneNo" required />
                            </div>
                            <div class="mb-3">
                                <label>Mobile No</label>
                                <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.mobileNo" name="mobileNo" required />
                            </div>
                            
                        </div>
                    </div>
                    <h6 class="Headings mb-4 mt-0"><span style="opacity: 0;">Form Fees</span></h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Form Fee</label>
                                <input type="number" class="form-control border-focus" [(ngModel)]="newconnection.formFee" name="formFee" required disabled="true"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Receipt No</label>
                                <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.receiptNo" name="receiptNo" required />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="resetForm()">Cancel</button>
                <button type="submit" class="btn btn-dark btn-submit" id="btn-submit" (click)="updateConnection()">{{ isConsumerUpdateModalOpen ? 'Update Application' : 'Submit Application' }}</button>
            </div>
        </div>
    </div>
</div>

<!-- New Consumer Modal -->
<div class="modal fade" id="newConnectionModal" tabindex="-1" aria-labelledby="newConnectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newConnectionModalLabel">{{ connectionModalHeader }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div *ngIf="currentStep === 1">
                        <h6 class="Headings mb-4 mt-0">Form Details [ {{todayDate}} ]</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Div</label>
                                    <select class="form-select border-focus" [(ngModel)]="newconnection.div" name="div" required>
                                        <option value="" disabled>Select a Division</option>
                                        <option value="Division 1">Division 1</option>
                                        <option value="Division 2">Division 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Collection Center</label>
                                    <select class="form-select border-focus" [(ngModel)]="newconnection.collectionCenter" name="collectionCenter" required>
                                        <option value="" disabled>Select a Collection Center</option>
                                        <option value="Center 1">Center 1</option>
                                        <option value="Center 2">Center 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Mode</label>
                                    <select class="form-select border-focus" [(ngModel)]="newconnection.mode" name="mode" required>
                                        <option value="" disabled>Select a Mode</option>
                                        <option value="Online">Online</option>
                                        <option value="Offline">Offline</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Source</label>
                                    <select class="form-select border-focus" [(ngModel)]="newconnection.source" name="source" required>
                                        <option value="" disabled>Select a Source</option>
                                        <option value="Website">Website</option>
                                        <option value="Referral">Referral</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Temporary Form No.</label>
                                    <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.temporaryFormNo" name="temporaryFormNo" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Purchase Date</label>
                                    <input type="date" class="form-control border-focus" [(ngModel)]="newconnection.purchaseDate" name="purchaseDate" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Permanent Form No.</label>
                                    <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.permanentFormNo" name="permanentFormNo" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Submission Date</label>
                                    <input type="date" class="form-control border-focus" [(ngModel)]="newconnection.submissionDate" name="submissionDate" required />
                                </div>
                            </div>
                        </div>
                        <h6 class="Headings mb-4 mt-0">Type of Connection</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Type of Connection</label>
                                    <select class="form-select border-focus" [(ngModel)]="newconnection.type" name="type" required>
                                        <option value="" disabled>Select a Connection Type</option>
                                        <option value="Water">Water</option>
                                        <option value="Sewer">Sewer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-0">
                                <div class="mb-3">
                                    <label>Applicant is Already Consumer?</label>
                                    <select class="form-select border-focus" [(ngModel)]="newconnection.isAlreadyConsumer" name="isAlreadyConsumer" required>
                                        <option value="" disabled>Select Option</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <button type="button" class="btn btn-dark" (click)="goToNextStep()">Next</button> -->
                    </div>

                    <div *ngIf="currentStep === 2">
                        <h6 class="Headings mb-4">Applicant's Details</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>First Name</label>
                                    <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.firstName" name="firstName" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.lastName" name="lastName" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Father's/Husband's Name</label>
                                    <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.fatherHusbandName" name="fatherHusbandName" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Occupation</label>
                                    <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.occupation" name="occupation" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Present Address</label>
                                    <textarea class="form-control border-focus" name="presentAddress" id="presentAddress" cols="30" rows="4" [(ngModel)]="newconnection.presentAddress"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Phone No</label>
                                    <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.phoneNumber" name="phoneNo" required />
                                </div>
                                <div class="mb-3">
                                    <label>Mobile No</label>
                                    <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.mobileNo" name="mobileNo" required />
                                </div>
                            </div>
                        </div>
                        <h6 class="Headings mb-4 mt-0"><span style="opacity: 0;">Form Fees</span></h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Form Fee</label>
                                    <input type="number" class="form-control border-focus" [(ngModel)]="newconnection.formFee" name="formFee" required disabled="true"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Receipt No</label>
                                    <input type="text" class="form-control border-focus" [(ngModel)]="newconnection.receiptNo" name="receiptNo" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="resetForm()">Cancel</button>
                <button type="button" class="btn btn-dark" *ngIf="currentStep > 1" (click)="goToPreviousStep()">Previous</button>
                <button type="button" class="btn btn-dark" *ngIf="currentStep < totalSteps" (click)="goToNextStep()">Next</button>
                <button type="submit" class="btn btn-dark btn-submit" id="btn-submit" *ngIf="currentStep === totalSteps" (click)="updateConnection()">
                    {{ isConsumerUpdateModalOpen ? 'Update Application' : 'Submit Application' }}
                </button>
            </div>
        </div>
    </div>
</div>
